services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
      timeout: 3s
      retries: 10
      start_period: 5s

  service-a:
    build: ./service-a
    ports:
      - "4000:4000"
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      redis:
        condition: service_healthy

  service-b:
    build: ./service-b
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
    environment:
      - DB_PATH=/app/data/tickets.db
      - REDIS_URL=redis://redis:6379
      - JWT_SECRET=supersecret
    depends_on:
      redis:
        condition: service_healthy

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - service-a
